@media screen and (max-width: 770px) {

    #barra a {
        font-size: 12px;
    }

    main{
        width: 100%;
    }

    table {
        width: 95%;
    }

    th {
        font-size: 14px;
        font-weight: 500;
        color: #9782ce;
    }

    header ul {
        padding-left: 20px;
        padding-right: 12px;
    }

    #easteregg {
        font-size: 15px;
    }

    main h1 {
        font-size: 25px;
        font-weight: 300;
    }

    tr{
        font-size: 14px;
    }
    input{
        width: auto;
        font-size: 14px;
    }
}
