@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-background: #181818;
    --color-primary: #075ebd;
    --color-primary-light: #075ebd30;
    --color-secondary: #ffe500;
    --color-secondary-light: #ffe60030;
    --color-other: #06376d;
    --color-text: #ffffff;
    --color-glass: #ffffff25;
    --color-alert: #ff0000;
    --color-alert-light: #ff000030;
    --color-verified: #008000;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--color-text);
}

body {
    background-image: url(asset/images/background_1.svg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: #0e0d3d;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--color-glass);
    border: 1px solid var(--color-glass);
    backdrop-filter: blur(12.5px);
    padding: 20px 0px;
    width: 95vw;
    margin-top: 1.5vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__title {
    text-decoration: none;
    font-weight: 400;
    color: var(--color-text);
    font-size: 1.6rem;
    text-align: center;
}

.menu {
    display: flex;
    align-items: center;
    gap: 70px;
}

.menu__links {
    text-align: center;
    transition: 300ms;
    text-decoration: none;
    color: var(--color-text);
    padding: 5px;
    border-radius: 5px;
}

.menu__links:hover {
    transform: scale(1.3);
    background-color: var(--color-glass);
    backdrop-filter: blur(12.5px);
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 50px;
    width: 95vw;
}

.home__aboutme {
    color: var(--color-text);
    font-size: 1.25rem;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: 300ms;
}

.home__aboutme:hover {
    background-color: var(--color-glass);
    transform: scale(1.05);
    font-weight: 600;
}

table {
    background-color: var(--color-glass);
    backdrop-filter: blur(12.5px);
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid var(--color-glass);
    color: var(--color-text);
    align-items: center;
    height: 35px;
    text-align: center;
    min-width: 14vw;
    max-width: 16.6vw;
}

.add__button,
.export__button {
    transition: 300ms;
    width: 290px;
    padding: 8px 25px;
    background-color: var(--color-glass);
    border: 1px solid var(--color-glass);
    backdrop-filter: blur(12.5px);
    cursor: pointer;
    font-size: 1.25rem;
    border-radius: 5px;
}

.add__button:active,
.export__button:active {
    transition: 0s;
    transform: scale(1.1);
    background: var(--color-secondary);
}

input {
    background: none;
    backdrop-filter: blur(12.5px);
    color: var(--color-text);
    width: 100%;
    height: 100%;
    font-size: 1rem;
    transition: 300ms;
    text-align: center;
    border: none;
    border-radius: 0px;
}

input::placeholder {
    color: var(--color-text);
}

input:focus {
    outline: none;
    background-color: var(--color-glass);
    border-color: var(--color-primary);
    transition: 300ms;
}

.home__calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 38vh;
}

.home__info {
    background-color: var(--color-glass);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--color-glass);
    position: relative;
    bottom: 0;
    text-align: justify;
}

.footer {
    position: relative;
    bottom: 0;
    background-color: var(--color-glass);
    border: 1px solid var(--color-glass);
    backdrop-filter: blur(12.5px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95vw;
    height: 150px;
    margin-top: 5vh;
    margin-bottom: 1.5vh;
    border-radius: 10px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__title {
    color: var(--color-text);
    font-weight: 600;
    padding: 5px;
}

.footer__text {
    text-decoration: none;
    color: var(--color-text);
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
}

.footer__text:hover {
    background-color: var(--color-glass);
    backdrop-filter: blur(12.5px);
    transform: scale(1.05);
    transition: 300ms;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 1000px) {
    main {
        min-height: 60vh;
        width: 95vw;
    }

    .header {
        margin-top: 1vh;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .header__title {
        font-size: 1.5rem;
        width: 100vw;
        height: 50%;
        padding: 15px 0px;
    }

    .menu {
        padding: 10px;
    }

    .menu__links {
        font-size: 0.8rem;
    }

    .home__aboutme {
        font-size: 0.9375rem;
    }

    th,
    td {
        font-size: 0.75rem;
    }

    input {
        font-size: 0.75rem;
        background-color: var(--color-glass);
    }

    .add__button,
    .export__button {
        width: 150px;
        font-size: 0.75rem;
        padding: 8px;
    }

    .footer {
        height: auto;
        gap: 0px;
    }

    .footer__info {
        gap: 5px;
    }

    .footer__title {
        font-size: 1.1rem;
        padding: 2px;
    }

    .footer__text {
        padding: 2px;
        font-size: 0.75rem;
    }

    .footer__menu {
        padding: 15px 0px;
    }
}